.card{
    background-color: #1e293b;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 18px;
    text-align: center;
    transition: all 0.2s ease;
    flex: 0 0 280px;
    width: 280px;
    max-width: 600px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover{
    transform: translateY(-8px);
    background-color: rgba(255, 255, 255, 0.08);
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 2px;
    object-fit: cover;
}

.name{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.role{
    font-weight: 600;
    color: #94a3b8;
}

.tech-badges{
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 22px 0;
}

.tech{
    opacity: 0.7;
    font-size: 14px;
    gap: 10px;
}

.profile-btn{
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
}

.profile-btn:hover{
    background: #e2e8f0;
    color: #1e293b;
}

@media (max-width: 620px) {
    .card {
        padding: 12px;
        white-space: normal;
        /* expand to fill available space */
        flex: 1 1 100%;
        width: 100%;
    }

    .name {
        font-size: 16px;
        margin-bottom: 4px;
    }

    .role {
        font-size: 14px;
    }

    .tech-badges {
        gap: 6px;
        margin: 16px 0;
    }

    .tech {
        font-size: 12px;
    }
}
