.tech-chart{
    margin-bottom: 22px;
}

.tech-chart h3{
    margin-bottom: 22px;
}

.tech-level{
    margin-bottom: 20px;    
}

.tech-items{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.tech-level{
    background-color: #374151;
    border-radius: 6px;
    height: 8px;
    overflow: hidden;
    width: 100%;
}

.bar-fill{
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border-radius: 6px;
    height: 100%;
}