.home{
    align-items: center;
    display: flex;
    justify-content: center;
}

.home__leyend{
    justify-content: center;
}

.title{
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle{
    color: #666;
    font-size: 24px;
}

.cards-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}