.home__container{
    padding: 16px 20px;
}

.home__leyend{
    justify-content: center;
    margin-bottom: 12px;
}

.title{
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle{
    color: #666;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-input{
    border: none;
    border-radius: 8px;
    margin-bottom: 22px;
    outline: none;
    padding: 10px 14px;
    width: 300px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}