.home__container{
    padding: 16px 20px;
}

.home__leyend{
    justify-content: center;
    margin-bottom: 12px;
}

.title{
    font-size: 48px;
    margin-bottom: 10px;
}

.subtitle{
    color: #666;
    font-size: 24px;
    margin-bottom: 20px;
}

.search-input{
    border: none;
    border-radius: 8px;
    margin-bottom: 22px;
    outline: none;
    padding: 10px 14px;
    width: 300px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.tech-filter{
    display: flex;
    gap: 12px;
    margin-bottom: 36px;
    flex-wrap: wrap;
}

.tech-filter-btn{
    background-color: #2c2c2c;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    padding: 10px 16px;
    transition: all 0.3s ease;
    transform: scale(1);
}

.tech-filter-btn:hover{
    background-color: #444;
    transform: scale(1.05);
    transform: translateY(-5px)
}

.tech-filter-btn.active{
    background-color: #007bff;
    transform: scale(1.08);
    box-shadow: 0 4px 15px rgba(100, 108, 255, 0.4);
}