.home__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__content{
    text-align: center;
}

.title{
    font-size: 48px;
    margin-bottom: 28px;
    color:antiquewhite;
}

.subtitle{
    font-size: 24px;
    color: #666;
}