.profile-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 32px;
}

.profile__container{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

@media (min-width: 992px) {
    .profile__container {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media (min-width: 1200px) {
    .profile__container {
        width: 85%;
    }
}

@media (min-width: 1800px) {
    .profile__container {
        width: 75%;
    }
}
.back-btn{
    background: none;
    border: none;
    border-radius: 20px;
    color: #ccc;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 6px;
}

.back-btn:hover{
    color: white;
}

.left-column{
    flex: 1;
    min-width: 500px; 
}

.cv-btn{
    justify-content: center;
}

.right-column{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 32px;
    min-width: 500px;
}
