.profile__container{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.back-btn{
    background: none;
    border: none;
    border-radius: 20px;
    align-self: flex-start;
    color: #ccc;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 6px;
}

.back-btn:hover{
    color: white;
}

.profile__card{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.role{
    margin-bottom: 8px;
    opacity: 0.8;
}

.bio{
    margin-bottom: 16px;
    opacity: 0.9;
}

.tech{
    display: flex;
    font-size: 18px;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.profile__metrics{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 24px;
}

.metric {
    background: #1e1e2f;
    border-radius: 12px;
    min-width: 120px;
    padding: 16px;
    text-align: center;
}

.metric h3{
    font-size: 18px;
}

.cv-btn{
    background-color: #646cff85;
    border-radius: 8px;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 14px;
    text-decoration: none;
}
