.profile__container{
    align-items: flex-start;
    display: flex;
    gap: 54px;
    margin-top: 26px;
}

.back-btn{
    background: none;
    border: none;
    border-radius: 20px;
    color: #ccc;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 6px;
}

.back-btn:hover{
    color: white;
}

.left-column{
    flex: 1;
}

.cv-btn{
    justify-content: center;
}

.right-column{
    display: flex;
    flex: 2;
    flex-direction: column;
    gap: 32px;
}
