.wrapper{
    min-height: 100vh;
    background-color: #111827;
    padding: 32px;
}

.container{
    display: flex;
}

.main{
    padding: 0 50px;
    color: #f9fafb;
    .main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
}