.wrapper{
    background-color: #111827;
    min-height: 100vh;
    padding: 32px;
}

.container{
    display: flex;
}

.main{
    color: #f9fafb;
    padding: 0 50px;
}

.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

@media (min-width:300px) and (max-width: 420px) {
    .main{
        padding: 0px
    }
}

@media (min-width:421px) and (max-width: 768px) {
    .main{
        padding: 0px 20px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
